<!DOCTYPE html>
<html>  
<head> 
<title>Project</title>  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<style>
	body {
		background-color: rgb(41, 74, 122);; 
	}
</style> 
<!-- <link rel="stylesheet" type="text/css" href="project.css"> -->
</head>
<body>
    <h3 class="text-center" style="color: white;">Your Estimated Salary is {{ data.salary }}</h3>
    <h3 class="text-center"><a href="{% url 'estimatesalary' %}">Estimate Another</a></h3>
</body> 
</html>